body {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }
}

#play-area {
  overflow: hidden;

  .Piece {
    background: #ccc;
  }

  .hilite {
    animation: pulse ease 1s infinite;
  }

  .selected {
    background: #faa;
  }

  &.fixed {
    position: relative;

    > .Space {
      width: 100%;
      height: 100%;
    }

    .Piece {
      position: absolute;
      > img {
        width: 100%;
        height: 100%;
      }
    }

    .Space {
      position: absolute;
      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.fluid {
    .Piece {
      outline: .25vmin solid blue;
      display: inline-block;
      padding: 1vmin;
      margin: 1vmin;
    }

    .Space {
      outline: .25vmin solid black;
      padding: 1vmin;
      margin: 1.5vmin;
    }
  }
}
