@layer game {
  body {
    margin: 0;
    padding: 0;
  }

  #game {
    #play-area {
      overflow: hidden;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      * {
        box-sizing: border-box;
      }

      img {
        -webkit-user-drag: none;
        pointer-events: none;
      }

      .dragging {
        z-index: 100;
        pointer-events: none;
      }

      .droppable {
        outline: 1px solid red;
      }

      .transformWrapper {
        position: absolute;
        transform-origin: 'top left';
        transition: top .3s, left .3s, width .3s, height .3s;
        &.animating {
          transition: transform .3s, top .3s, left .3s, width .3s, height .3s;
          z-index: 100;
        }
        > div {
          width: 100%;
          height: 100%;
        }
      }

      &.in-drag-movement {
        .transformWrapper {
          transition: none;
        }
      }

      /* .zoomable { */
      /*   transition: transform 0.2s; */
      /*   &:hover:not(.animating) { */
      /*     transform: scale(1.5); */
      /*     z-index: 50; */
      /*   } */
      /* } */

      .clickable {
        cursor: pointer;
      }

      .selectable {
        outline: .5em solid yellow;
        &:hover {
          outline: .5em solid red;
        }
      }

      .selected {
        transform: scale(1.2);
      }

      .Space {
        position: absolute;
        width: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
        }
        > .bz-default {
          width: 100%;
          height: 100%;
          background: #ccc;
        }
      }

      .Piece {
        position: absolute;
        > img {
          width: 100%;
          height: 100%;
        }
        > .bz-default {
          width: 100%;
          height: 100%;
          background: #ccf;
          border: .1em solid white;
          display: inline;
        }
      }
    }

    .player-controls {
      z-index: 150;
      position: absolute;
      padding: .25rem;
      font-size: .75rem;
      form {
        margin: 0;
        display: inline-block;
      }
      input {
        border-width: .05rem;
      }
      input, select, button {
        padding: 0.2rem 0.4rem;
        font-family: inherit;
        font-size: inherit;
        margin: 0.1rem;
      }
      input, select {
        max-width: 100%;
      }
      button {
        border: none;
        background: #ccc;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0.2rem 0.2rem .5rem #0008;
        }
      }
      input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    .god-mode-enabled {
      position: absolute;
      top: 0;
      left: 0;
      font-size: .5rem;
      padding: 0.2rem;
      background: red;
      color: white;
    }
  }
}
