body {
  margin: 0;
  padding: 0;
  max-width: unset;
  overflow: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  z-index: 1000;
}

button {
  border: none;
  background: #017;
  color: white;
  border-radius: 2px;
  margin: 0 2px;
  padding: 3px 6px 5px;
}

#container {
  position: relative;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  height: 100vh;
  width: 100vw;
  #layout {
    grid-area: game;
    position: relative;
    width: fit-content;
    #play-area {
      transform-origin: top left;
    }
  }
  #messages {
    z-index: 200;
    position: relative;
    background: #b8b4b4;
    padding: 10px;
    color: black;
    box-sizing: border-box;
    &.hidden {
      display: none;
    }
    .prompt {
      padding-right: 20px;
      margin-bottom: 10px;
      font-size: 120%;
      padding-left: 10px;
      color: #006;
      font-style: italic;
    }
    #actionContainer {
      position: relative;
    }
    button {
      width: 100%;
      margin: 2px;
      border-radius: 4px;
      text-align: left;
      background: #017;
      &.undo {
        background: black;
      }
      &.reset {
        background: #900;
        &:hover {
          background: #f99;
        }
      }
      &:hover {
        background: #999;
      }
      .keybind {
        width: 20px;
        display: inline-block;
        background: white;
        color: #c00;
        text-transform: uppercase;
        margin-right: 5px;
        text-align: center;
        border-radius: 2px 0 0 2px;
        position: relative;
        top: 1px;
        left: -2px;
        font-weight: bold;
        font-size: 120%;
        line-height: 100%;
      }
    }
    .fab {
      position: absolute;
      z-index: 100;
      top: 5px;
      right: 3px;
      width: 24px;
      height: 24px;
      font-size: 15px;
      line-height: 100%;
      display: block;
      text-align: center;
      color: white;
      border-radius: 12px;
      color: white;
      padding: 4px;
      &.cancel {
        background: red;
      }
      &.help {
        background: blue;
      }
    }
    h1 {
      font-size: 24px;
      margin: 0;
    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
        margin-top: 15px;
        padding: 0 15px;
      }
    }
    #log {
      background: black;
      color: #efc;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      overflow-y: auto;
      ul {
        padding: 2px;
        margin: 4px 0 0 3px;
        bottom: 0;
        li {
          margin: 0;
          padding: 0 6px 0 25px;
          text-indent: -25px;
          [color="red"] {
            color: #f66;
          }
          [color="green"] {
            color: #6f6;
          }
          [color="blue"] {
            color: #66f;
          }
          [color="purple"] {
            color: #c6f;
          }
        }
        &:empty {
          display: none;
        }
      }
    }
    #spinner {
      margin-left: 2.5ex;
      img {
        height: 1.2em;
        position: absolute;
        top: 0.8em;
        left: 0.5em;
      }
    }
    #chat {
      position: relative;
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 4px 6px 4px 30px;
        border-radius: 0 0 8px 8px;
        background: black;
        color: white;
        &:focus {
          box-shadow: none;
          background: #333;
        }
      }
      label {
        position: absolute;
        left: 6px;
        top: 3px;
      }
    }
  }
  .table {
    z-index: -100;
  }

  .piece-type .unstyled-piece {
    background: white;
    padding: 10px;
    border: 1px solid #333;
  }

  .debug .space-type:not(.hilited) {
    outline: 1px solid red;
  }

  .space-type {
    position: absolute;
    width: 400px;
    height: 100px;
    &.flipped {
      transform: scale(-1);
    }
    &[layout="stack"] {
      & > :not(:last-child) {
        margin: 2px 0 0 2px;
      }
    }
  }

  [layout="splay"], [layout="grid"] {
    display: grid;
    > * {
      position: absolute;
    }
    > .positioned-piece {
      position: relative;
      > .piece-type, > .space-type {
        position: absolute;
      }
    }
    &[direction="rtl"] {
      direction: rtl;
    }
  }


  .positioned-piece {
    position: absolute;
    transition: transform .2s;
    &.no-transition {
      transition: unset;
    }
    &.react-draggable-dragging, &.external-dragging {
      transition: unset;
    }
  }
  img {
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    pointer-events: none;
  }
  .hilited {
    outline: 5px solid rgba(255,255,0,.5)
  }
}

div.nametag {
  font-size: 30px;
  pointer-events: none;
  opacity: .3;
  color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  .PlayerMat[color="red"] & {
    color: #600;
    text-shadow: 1px 1px #fcc, -1px 1px #fcc, -1px -1px #fcc, 1px -1px #fcc;
  }
  .PlayerMat[color="green"] & {
    color: #060;
    text-shadow: 1px 1px #cfc, -1px 1px #cfc, -1px -1px #cfc, 1px -1px #cfc;
  }
  .PlayerMat[color="blue"] & {
    color: #006;
    text-shadow: 1px 1px #ccf, -1px 1px #ccf, -1px -1px #ccf, 1px -1px #ccf;
  }
  .PlayerMat[color="purple"] & {
    color: #406;
    text-shadow: 1px 1px #d9f, -1px 1px #d9f, -1px -1px #d9f, 1px -1px #d9f;
  }
  .PlayerMat[color="cyan"] & {
    color: #066;
    text-shadow: 1px 1px #bdf, -1px 1px #bdf, -1px -1px #bdf, 1px -1px #bdf;
  }
  .PlayerMat[color="yellow"] & {
    color: #880;
    text-shadow: 1px 1px #ffb, -1px 1px #ffb, -1px -1px #ffb, 1px -1px #ffb;
  }
  &.active {
    opacity: 1;
  }
}

.space-type > label {
  color: white;
  position: absolute;
  display: block;
  right: 2px;
  top: 2px;
  background: #006;
  padding: 3px 5px;
  border-radius: 5px;
}

.piece-type > label {
  position: absolute;
  display: inline-block;
  top: 0;
  left: -200%;
  right: -200%;
  margin: 50% 0;
  text-align: center;
  span {
    color: white;
    padding: 3px 5px;
    background: #006;
    border-radius: 5px;
  }
}

/* @media(orientation: landscape) { */
  #container {
    display: grid;
    grid-template-columns: auto 340px;
    grid-template-rows: 38px auto;
    grid-template-areas:
        "navbar navbar"
        "game messages";
    #play-area {
      position: relative;
      grid-area: game;
      overflow: hidden;
      #scaled-play-area {
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }
    #messages {
      grid-area: messages;
      display: grid;
      grid-template-rows: auto auto minmax(0, auto) minmax(40px, 1fr) auto;
      min-height: 0;
      #choices {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
/* } */

/* @media(orientation: portrait) { */
/*   #container { */
/*     #messages { */
/*       left: 0; */
/*       bottom: 0; */
/*       width: 380px; */
/*       transform-origin: left bottom; */
/*       font-size: 5vw; */
/*       max-height: 900px; */
/*       overflow-y: scroll; */
/*       &.big-zoom { */
/*         max-height: 100%; */
/*       } */
/*       &.actions { */
/*         overflow-y: hidden; */
/*         #actions { */
/*           button .keybind { */
/*             display: none; */
/*           } */
/*           overflow-y: scroll; */
/*           height: 100%; */
/*           width: 345px; */
/*           position: absolute; */
/*           bottom: 0; */
/*           right: 0; */
/*         } */
/*       } */
/*       h1 { */
/*         font-size: 6vw; */
/*       } */
/*       button { */
/*         padding: 0.8vw 1vh; */
/*         &.fab { */
/*           width: 8vw; */
/*           height: 8vw; */
/*           border-radius: 4vh; */
/*           font-size: 4.5vw; */
/*         } */
/*       } */
/*       #choiceFilter { */
/*         height: 7vw; */
/*       } */
/*       #spinner { */
/*         margin-left: 3ex; */
/*         img { */
/*           top: 0.5em; */
/*         } */
/*       } */
/*     } */
/*   } */
/* } */

#zoomPiece {
  position: relative;
  margin-bottom: 8px;
  .scaler {
    margin: 0 auto;
    transform-origin: top center;
  }
  .piece-type {
    transform: none !important;
  }
}

.hideDragging {
  transition: 0.01s;
  transform: translateX(-9999px);
}


.react-draggable-dragging, .external-dragging {
  z-index: 100;
  position: relative;
  #play-area.dragging & {
    .piece-type {
      transform: scale(1.2);
    }
    img {
      filter: drop-shadow(5px 5px 5px #222);
      will-change: filter;
    }
  }
}

.Counter {
  white-space: nowrap;
  button:first-child {
    margin-right: 4px;
  }
  button:last-child {
    margin-left: 4px;
  }
}

#choiceFilter {
  width: 100%;
  height: 26px;
  box-sizing: border-box;
  margin-top: 8px;
}

.Die {
  .shake {
    transition: transform 0.25s ease-out;
  }
  button {
    width: 25px;
    height: 25px;
    background: #c00;
    color: white;
    border: none;
    border-radius: 4px;
  }
}

.d6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 2rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 2rem;
  margin: 0;
  padding: 0;
  &[data-spin="up"] {
    transition: transform 1.5s ease-out;
  }
  &[data-spin="down"] {
    transition: transform 1.5s ease-out;
  }
  .die-face {
    background: #eee;
    box-shadow: inset -0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3),
                inset 0.03rem -0.08rem 0.15rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas:
      "one two three"
      "four five six"
      "sup eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: .3rem;
    width: 100%;
    outline: 1px solid #333;
    .dot {
      align-self: center;
      background-color: #333;
      border-radius: 50%;
      box-shadow: inset -0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
      display: block;
      height: .5rem;
      justify-self: center;
      width: .5rem;
    }
    &[data-face="1"] {
      transform: rotate3d(0, 0, 0, 90deg) translateZ(1.3rem);
    }
    &[data-face="2"] {
      transform: rotate3d(-1, 0, 0, 90deg) translateZ(1.3rem);
    }
    &[data-face="3"] {
      transform: rotate3d(0, 1, 0, 90deg) translateZ(1.3rem);
    }
    &[data-face="4"] {
      transform: rotate3d(0, -1, 0, 90deg) translateZ(1.3rem);
    }
    &[data-face="5"] {
      transform: rotate3d(1, 0, 0, 90deg) translateZ(1.3rem);
    }
    &[data-face="6"] {
      transform: rotate3d(1, 0, 0, 180deg) translateZ(1.3rem);
    }
    &[data-face="1"] .dot:nth-of-type(1) {
      grid-area: five;
    }
    &[data-face="2"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    &[data-face="2"] .dot:nth-of-type(2) {
      grid-area: nine;
    }
    &[data-face="3"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    &[data-face="3"] .dot:nth-of-type(2) {
      grid-area: five;
    }
    &[data-face="3"] .dot:nth-of-type(3) {
      grid-area: nine;
    }
    &[data-face="4"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    &[data-face="4"] .dot:nth-of-type(2) {
      grid-area: three;
    }
    &[data-face="4"] .dot:nth-of-type(3) {
      grid-area: sup;
    }
    &[data-face="4"] .dot:nth-of-type(4) {
      grid-area: nine;
    }
    &[data-face="5"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    &[data-face="5"] .dot:nth-of-type(2) {
      grid-area: three;
    }
    &[data-face="5"] .dot:nth-of-type(3) {
      grid-area: five;
    }
    &[data-face="5"] .dot:nth-of-type(4) {
      grid-area: sup;
    }
    &[data-face="5"] .dot:nth-of-type(5) {
      grid-area: nine;
    }
    &[data-face="6"] .dot:nth-of-type(1) {
      grid-area: one;
    }
    &[data-face="6"] .dot:nth-of-type(2) {
      grid-area: three;
    }
    &[data-face="6"] .dot:nth-of-type(3) {
      grid-area: four;
    }
    &[data-face="6"] .dot:nth-of-type(4) {
      grid-area: six;
    }
    &[data-face="6"] .dot:nth-of-type(5) {
      grid-area: sup;
    }
    &[data-face="6"] .dot:nth-of-type(6) {
      grid-area: nine;
    }
  }
  [number="1"] &[data-spin="up"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  [number="2"] &[data-spin="up"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  [number="3"] &[data-spin="up"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  [number="4"] &[data-spin="up"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  [number="5"] &[data-spin="up"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  [number="6"] &[data-spin="up"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
  }
  [number="1"] &[data-spin="down"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [number="2"] &[data-spin="down"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [number="3"] &[data-spin="down"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
  }
  [number="4"] &[data-spin="down"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
  }
  [number="5"] &[data-spin="down"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [number="6"] &[data-spin="down"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
  }
  .PlayerMat[color="red"] & .die-face {
    background-color: #f66;
  }

  .PlayerMat[color="green"] & .die-face {
    background-color: #6c6;
  }

  .PlayerMat[color="blue"] & .die-face {
    background-color: #66f;
  }

  .PlayerMat[color="purple"] & .die-face {
    background-color: #b0f;
  }
}
