@keyframes fade-in-prompt {
  0% { opacity: 0; filter: blur(2em); transform: translate(-40vw, 0) }
  50% { opacity: 0; filter: blur(2em); transform: translate(-20vw, 0) }
  100% { opacity: 1; filter: none; transform: none }
}

@keyframes fade-out-prompt {
  0% { opacity: 1; filter: none; }
  100% { opacity: 0; filter: blur(10em); }
}

html, body { height: 100% }

@layer game {

  /* z layers */
  /* 100: animations */
  /* 150: player messages */
  /* 200: system messages */

  html.dark {
    body {
      color: #ccd;
    }
    #background {
      filter: brightness(0.45) contrast(1.2);
    }
  }


  body {
    color: #002;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans Variable';
    > #root {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  #background {
    background-image: url(../grain.jpg);
    background-size: cover;
    filter: brightness(1.3) contrast(0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
  }

  #game {
    margin: auto;
    #play-area {
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      * {
        box-sizing: border-box;
      }

      img {
        -webkit-user-drag: none;
        pointer-events: none;
      }

      .Space {
        > img {
          width: 100%;
          height: 100%;
        }
        > .bz-default {
          width: 100%;
          height: 100%;
          background: #ccc;
        }
      }

      .Piece {
        > img {
          width: 100%;
          height: 100%;
        }
        > .bz-default {
          width: 100%;
          height: 100%;
          background: #ccf;
          border: .1em solid white;
          padding: .1em;
          overflow: hidden;
        }
      }

      [data-zoomed] {
        z-index: 110;
      }

      .dragging {
        z-index: 100;
        pointer-events: none;
        filter: drop-shadow(.2em .2em 1em #0008) drop-shadow(.5em .5em 2em #0008);
      }

      .droppable {
        > .bz-default {
          border: .1em solid red;
        }
      }

      .transform-wrapper {
        position: absolute;
        transform-origin: top left;
        transition: transform .5s, top .6s, left .6s, width .6s, height .6s;
        &.animating {
          z-index: 100;
        }
        > div {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &.in-drag-movement {
        .transform-wrapper {
          transition: none;
        }
      }

      .zoomable {
        transition: transform 0.2s;
        &:hover:not(.animating) {
          transform: scale(1.5);
          z-index: 50;
        }
      }

      .clickable {
        cursor: pointer;
      }

      .selectable {
        > .bz-default {
          border: .1em solid yellow;
          &:hover {
            border: .1em solid red;
          }
        }
      }

      .selected {
        > .bz-default {
          transform: scale(1.2);
        }
      }

      .bz-show-grid {
        position: absolute;
        border: 1px dashed white;
        > span {
          position: absolute;
          font-size: .5rem;
          background: white;
          color: black;
          padding: 2px;
          top: 0;
          left: 0;
        }
      }
    }

    .drawer {
      position: absolute;
      .drawer-tab {
        position: absolute;
        z-index: 2;
        font-size: .5rem;
        text-align: center;
        &.close-direction-down {
          width: 100%;
          height: 1rem;
          bottom: 100%;
          left: 0;
        }
        &.close-direction-up {
          width: 100%;
          height: 1rem;
          top: 100%;
          left: 0;
        }
      }
      .drawer-content {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .drawer-container {
          position: absolute;
        }
      }
    }

    .player-controls {
      z-index: 150;
      position: absolute;
      padding: .25rem;
      font-size: .75rem;
      background: #fffc;
      &.fade-out {
        animation: fade-out-prompt .5s forwards;
      }
      &:not(.fade-out) {
        animation: fade-in-prompt .4s;
      }
      form {
        margin: 0;
      }
      input {
        border-width: .05rem;
      }
      input, select, button {
        padding: 0.2rem 0.4rem;
        font-family: inherit;
        font-size: inherit;
        margin: 0.1rem;
      }
      input, select {
        width: 100%;
      }
      input[type=number] {
        width: 4em;
      }
      button {
        border: none;
        background: #ccc;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0.2rem 0.2rem .5rem #0008;
        }
        &.selected {
          filter: brightness(1.3);
        }
      }
      input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    .god-mode-enabled {
      position: absolute;
      top: 0;
      left: 0;
      font-size: .5rem;
      padding: 0.2rem;
      background: red;
      color: white;
      z-index: 200;
    }

    .game-finished {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 1.5rem;
      padding: 0.5rem;
      border: .2rem solid #433;
      background: #dcc;
      color: #433;
      z-index: 200;
    }
  }

  #setup {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    .heading {
      h1, h2 {
        text-align: center;
        margin: .3em 0 .5em;
      }
      html.dark & {
        background: #fff3;
      }
      font-size: 1.2em;
      background: #fff8;
      padding: 0.3rem 1.5rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
    #seating {
      margin: .2em;
      text-align: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 1em;

      #seats {
        flex: 1;


        .seat {
          position: relative;
          select {
            appearance: none;
            background: #888;
            font-family: 'DM Sans Variable';
            text-align-last: center;
            text-align: center;
            font-size: 1.5em;
            height: 2.75em;
            border-radius: 20em;
            border-width: 0;
            padding: 0.8em 1em;
            width: 100%;
            color: white;
            color: white;
            margin: 0.2em 0;
            box-shadow: inset .1em .1em 0 #fff4, inset -.1em -.1em 0 #0008;
            filter: drop-shadow(.1em .1em .2em #0008);
            &:focus {
              outline: none;
            }

            html.dark & {
              background: #444;
            }
          }

          img.avatar {
            position: absolute;
            left: 0.5em;
            top: 0.75em;
            height: 3.3em;
            border-radius: 50%;
          }

          .pencil {
            color: white;
            position: absolute;
            font-size: 2em;
            top: .5em;
            right: .65em;
            transition: transform .2s;
            &:hover {
              cursor: pointer;
              transform: scale(1.4);
            }
          }

          .github-picker {
            padding: 1em;
            position: absolute !important;
            z-index: 1;
            text-align: left;
            left: 88%;
            width: 142px !important;
            display: block !important;
            > span {
              margin: .1em;
              display: inline-block;
            }
          }
        }
      }

      #lobby {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        background: #666;
        border-radius: 0.5em;
        padding: 0.5em;
        color: white;
        font-weight: bold;
        font-size: 1.2em;

        #users {
          flex: 1;
          margin: .5em 0 0;
          background: #fff4;
          border-radius: 0 0 .2em .2em;
          padding: .2em;
          text-align: left;
          .user {
            display: inline-block;
            margin: .2em;
            position: relative;
            background: #666;
            border-radius: 10em;
            padding: 0.4em 0.8em 0.4em 2.4em;
            height: 1.2em;
            font-size: 1.2em;
            cursor: pointer;
            img {
              height: 1.8em;
              border-radius: 50%;
              top: 0.1em;
              position: absolute;
              left: 0.1em;
            }
          }
        }
      }
    }

    #settings {
      margin: .4em .2em;
      font-size: 1.3em;
      input, select {
        font-family: 'DM Sans Variable';
        font-size: 1em;
        padding: 0em 0.5em;
        margin: 0.1em 0;
        background: #eef;
        &:focus {
          outline: none;
        }
      }
      input[type=checkbox] {
        transform: scale(1.5);
        transform-origin: left center;
        margin-right: .5em;
        &:focus {
          outline: none;
        }
      }
    }

    input.start {
      margin: 0 auto;
      display: block;
      font-family: 'DM Sans Variable';
      border-radius: .2em;
      border-width: 0;
      text-shadow: .1em .1em 0 #fff5;
      box-shadow: .1em .1em .2em #0008, inset .1em .1em 0 #fff9;
      background: linear-gradient(to bottom, #ddd,  #aaa 85%, #ccc);
      padding: 0.3em 1.6em;
      font-size: 1.4em;
      font-weight: bold;
      margin-top: .5em;
      transition: transform .2s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &.disabled input, &.disabled select, &.disabled button {
      pointer-events: none;
    }
  }

  .tooltip {
    z-index: 160;
    width: 25vw;
    font-size: .4rem;
    [data-zoomed] + & {
      max-height: 20vh;
      max-width: 80vw;
    }
  }

  /* react-tooltip/dist/react-tooltip.min.css */
  :root{--rt-color-white:#fff;--rt-color-dark:#222;--rt-color-success:#8dc572;--rt-color-error:#be6464;--rt-color-warning:#f0ad4e;--rt-color-info:#337ab7;--rt-opacity:0.9;--rt-transition-show-delay:0.15s;--rt-transition-closing-delay:0.15s}.core-styles-module_tooltip__3vRRp{left:0;opacity:0;pointer-events:none;position:absolute;top:0;will-change:opacity}.core-styles-module_fixed__pcSol{position:fixed}.core-styles-module_arrow__cvMwQ{background:inherit;position:absolute}.core-styles-module_noArrow__xock6{display:none}.core-styles-module_clickable__ZuTTB{pointer-events:auto}.core-styles-module_show__Nt9eE{opacity:var(--rt-opacity);transition:opacity var(--rt-transition-show-delay) ease-out}.core-styles-module_closing__sGnxF{opacity:0;transition:opacity var(--rt-transition-closing-delay) ease-in}.styles-module_tooltip__mnnfp{border-radius:3px;font-size:90%;padding:8px 16px;width:max-content}.styles-module_arrow__K0L3T{height:8px;width:8px}[class*=react-tooltip__place-top]>.styles-module_arrow__K0L3T{transform:rotate(45deg)}[class*=react-tooltip__place-right]>.styles-module_arrow__K0L3T{transform:rotate(135deg)}[class*=react-tooltip__place-bottom]>.styles-module_arrow__K0L3T{transform:rotate(225deg)}[class*=react-tooltip__place-left]>.styles-module_arrow__K0L3T{transform:rotate(315deg)}.styles-module_dark__xNqje{background:var(--rt-color-dark);color:var(--rt-color-white)}.styles-module_light__Z6W-X{background-color:var(--rt-color-white);color:var(--rt-color-dark)}.styles-module_success__A2AKt{background-color:var(--rt-color-success);color:var(--rt-color-white)}.styles-module_warning__SCK0X{background-color:var(--rt-color-warning);color:var(--rt-color-white)}.styles-module_error__JvumD{background-color:var(--rt-color-error);color:var(--rt-color-white)}.styles-module_info__BWdHW{background-color:var(--rt-color-info);color:var(--rt-color-white)}

}
