@layer game {

  /* z layers */
  /* 100: animations */
  /* 150: player messages */
  /* 200: system messages */

  body {
    margin: 0;
    padding: 0;
  }

  #game {
    #play-area {
      overflow: hidden;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      * {
        box-sizing: border-box;
      }

      img {
        -webkit-user-drag: none;
        pointer-events: none;
      }

      .Space {
        > img {
          width: 100%;
          height: 100%;
        }
        > .bz-default {
          width: 100%;
          height: 100%;
          background: #ccc;
        }
      }

      .Piece {
        > img {
          width: 100%;
          height: 100%;
        }
        > .bz-default {
          width: 100%;
          height: 100%;
          background: #ccf;
          border: .1em solid white;
          padding: .1em;
          overflow: hidden;
        }
      }

      .dragging {
        z-index: 100;
        pointer-events: none;
      }

      .droppable {
        > .bz-default {
          border: .1em solid red;
        }
      }

      .transform-wrapper {
        position: absolute;
        transform-origin: top left;
        transition: top .6s, left .6s, width .6s, height .6s;
        &.animating {
          transition: transform .6s, top .6s, left .6s, width .6s, height .6s;
          z-index: 100;
        }
        > div {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &.in-drag-movement {
        .transform-wrapper {
          transition: none;
        }
      }

      /* .zoomable { */
      /*   transition: transform 0.2s; */
      /*   &:hover:not(.animating) { */
      /*     transform: scale(1.5); */
      /*     z-index: 50; */
      /*   } */
      /* } */

      .clickable {
        cursor: pointer;
      }

      .selectable {
        > .bz-default {
          border: .1em solid yellow;
          &:hover {
            border: .1em solid red;
          }
        }
      }

      .selected {
        transform: scale(1.2);
      }
    }

    .player-controls {
      z-index: 150;
      position: absolute;
      padding: .25rem;
      font-size: .75rem;
      background: #fffc;
      form {
        margin: 0;
        display: inline-block;
      }
      input {
        border-width: .05rem;
      }
      input, select, button {
        padding: 0.2rem 0.4rem;
        font-family: inherit;
        font-size: inherit;
        margin: 0.1rem;
      }
      input, select {
        width: 100%;
      }
      input[type=number] {
        width: 4em;
      }
      button {
        border: none;
        background: #ccc;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0.2rem 0.2rem .5rem #0008;
        }
      }
      input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    .god-mode-enabled {
      position: absolute;
      top: 0;
      left: 0;
      font-size: .5rem;
      padding: 0.2rem;
      background: red;
      color: white;
      z-index: 200;
    }

    .game-finished {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 1.5rem;
      padding: 0.5rem;
      background: red;
      color: white;
      z-index: 200;
    }
  }
}
