@keyframes fade-in-prompt {
  0% { opacity: 0; filter: blur(2em); transform: translate(-40vw, 0) }
  50% { opacity: 0; filter: blur(2em); transform: translate(-20vw, 0) }
  100% { opacity: 1; filter: none; transform: none }
}

@keyframes fade-out-prompt {
  0% { opacity: 1; filter: none; }
  100% { opacity: 0; filter: blur(10em); }
}

@keyframes pulse-player-name {
  0% { opacity: 1; filter: drop-shadow(0 0 .4em #fff) }
  40% { opacity: 1; filter: drop-shadow(0 0 .4em #fff) }
  90% { opacity: .7; filter: drop-shadow(0 0 0 #fff) }
}

html, body { height: 100% }

@layer game {

  /* z layers */
  /* 100: animations */
  /* 150: player messages */
  /* 200: system messages */

  html.dark {
    body {
      color: #ccd;
    }
    #background {
      filter: brightness(0.45) contrast(1.2);
    }
  }

  body {
    color: #002;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'DM Sans Variable', sans-serif;
    > #root {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .full-page-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }

  #background {
    background-image: url(../grain.jpg);
    background-size: cover;
    filter: brightness(1.3) contrast(0.7);
    z-index: -10;
  }

  #game {
    position: absolute;
    --aspect-ratio: 1;
    top: calc(50vh - .5 * min(100vw / var(--aspect-ratio), 100vh));
    left: calc(50vw - .5 * min(100vw, 100vh * var(--aspect-ratio)));
    width: min(100vw, 100vh * var(--aspect-ratio));
    height: min(100vw / var(--aspect-ratio), 100vh);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    #play-area {
      position: relative;
      &.in-drag-movement {
        .transform-wrapper {
          transition: none;
        }
      }
    }

    * {
      box-sizing: border-box;
    }

    img {
      -webkit-user-drag: none;
      pointer-events: none;
    }

    .Space {
      > * {
        visibility: visible;
        &.bz-default {
          width: 100%;
          height: 100%;
          background: #ccc;
        }
      }
    }

    .Piece {
      visibility: visible;
      > * {
        width: 100%;
        height: 100%;
        &.bz-default {
          background: #ccf;
          border: .1em solid white;
          padding: .1em;
          overflow: hidden;
        }
      }
    }

    .info-hotspot {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: help;
      visibility: visible;
      z-index: 200;
      filter: none;
    }

    .droppable {
      visibility: visible;
      > .bz-default {
        border: .1em solid red;
      }
    }

    .transform-wrapper {
      position: absolute;
      transform-origin: top left;
      transition: transform .6s, top .6s, left .6s, width .6s, height .6s;
      visibility: hidden;
      &.has-info {
        z-index: 200;
        > *:not(.info-hotspot) {
          pointer-events: none;
        }
      }

      > div {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &.animating {
        z-index: 100;
        pointer-events: none;
      }

      &.dragging {
        z-index: 100;
        pointer-events: none;
        filter: drop-shadow(.2em .2em .2em #0008) drop-shadow(.5em .5em .5em #0008);
      }

      &.placing {
        z-index: 100;
        filter: drop-shadow(.2em .2em .2em #0008) drop-shadow(.5em .5em .5em #0008) opacity(.6);
        cursor: pointer;
        &:not(.animating) {
          transition: transform .2s, top .2s, left .2s, width .2s, height .2s;
        }
      }
    }

    .layout-wrapper {
      visibility: hidden;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }

    .clickable {
      cursor: pointer;
    }

    .selectable {
      > .bz-default {
        border: .1em solid yellow;
        &:hover {
          border: .1em solid red;
        }
      }
    }

    .Piece.selected {
      > .bz-default {
        transform: scale(1.2);
      }
    }

    .Space.selected {
      > .bz-default {
        border: .1em solid red;
      }
    }

    .bz-show-grid {
      position: absolute;
      border: 1px dashed white;
      pointer-events: none;
      /* background-image: linear-gradient(to right, #f009 1px, transparent 1px), linear-gradient(to bottom, #f009 1px, transparent 1px); */
      > span {
        position: absolute;
        font-size: .5rem;
        background: white;
        color: black;
        padding: 2px;
        top: 0;
        left: 0;
      }
    }

    .drawer {
      > .drawer-tab {
        position: absolute;
        font-size: .5rem;
        text-align: center;
        transition: height .1s, left .2s, top .2s, bottom .2s, right .2s;
        background: #0008;
        color: white;
        cursor: pointer;
        height: .75rem;
        border-radius: .75em .75em 0 0;
      }

      &.closed > .drawer-tab:hover {
        height: .85rem;
      }

      &.close-direction-up > .drawer-tab {
        border-radius: 0 0 .75em .75em;
      }

      > .drawer-content {
        position: absolute;
        transition: left .2s, top .2s, bottom .2s, right .2s, transform .2s;
        > .drawer-container {
          position: absolute;
          visibility: hidden;
          > * {
            visibility: visible;
          }
        }
        > .drawer-background {
          position: absolute;
          z-index: -1000;
          inset: 0;
          border: .1rem solid #0008;
          border-top-width: 0;
          background: #fffc;
          html.dark & {
            background: #000e;
          }
        }
      }
    }

    .player-controls {
      z-index: 150;
      position: absolute;
      padding: .25rem;
      font-size: .75rem;
      background: #fffc;

      &.fade-out {
        animation: fade-out-prompt .5s forwards;
      }
      &:not(.fade-out) {
        animation: fade-in-prompt .4s;
      }
      form {
        margin: 0;
      }
      input {
        border-width: .05rem;
      }
      input, select, button {
        padding: 0.2rem 0.4rem;
        font-family: inherit;
        font-size: inherit;
        margin: 0.1rem;
      }
      input, select {
        width: 100%;
      }
      input[type=number] {
        width: 4em;
      }
      button {
        border: none;
        background: #ccc;
        cursor: pointer;
        transition: transform 0.2s;
        white-space: normal;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0.2rem 0.2rem .5rem #0008;
        }
        &.selected {
          filter: brightness(1.3);
        }
      }
      input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    .Die[data-sides="6"] {
      > ol {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        list-style-type: none;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        &[data-spin="up"] {
          transition: transform 2s ease-out;
        }
        &[data-spin="down"] {
          transition: transform 2s ease-out;
        }
        .die-face {
          background: #eee;
          box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.4);
          border-radius: .3em;
          display: grid;
          grid-column: 1;
          grid-row: 1;
          grid-template-areas:
            "one two three"
            "four five six"
            "sup eight nine";
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          height: 100%;
          padding: .7em;
          width: 100%;
          outline: .01em solid #333;
          .dot {
            align-self: center;
            background-color: #333;
            border-radius: 50%;
            box-shadow: inset -0.12em 0.12em 0.25em rgba(255, 255, 255, 0.3);
            display: block;
            height: 1.25em;
            justify-self: center;
            width: 1.25em;
          }
          &[data-face="1"] {
            transform: rotate3d(0, 0, 0, 90deg) translateZ(3.1em);
          }
          &[data-face="2"] {
            transform: rotate3d(-1, 0, 0, 90deg) translateZ(3.1em);
          }
          &[data-face="3"] {
            transform: rotate3d(0, 1, 0, 90deg) translateZ(3.1em);
          }
          &[data-face="4"] {
            transform: rotate3d(0, -1, 0, 90deg) translateZ(3.1em);
          }
          &[data-face="5"] {
            transform: rotate3d(1, 0, 0, 90deg) translateZ(3.1em);
          }
          &[data-face="6"] {
            transform: rotate3d(1, 0, 0, 180deg) translateZ(3.1em);
          }
          &[data-face="1"] .dot:nth-of-type(1) {
            grid-area: five;
          }
          &[data-face="2"] .dot:nth-of-type(1) {
            grid-area: one;
          }
          &[data-face="2"] .dot:nth-of-type(2) {
            grid-area: nine;
          }
          &[data-face="3"] .dot:nth-of-type(1) {
            grid-area: one;
          }
          &[data-face="3"] .dot:nth-of-type(2) {
            grid-area: five;
          }
          &[data-face="3"] .dot:nth-of-type(3) {
            grid-area: nine;
          }
          &[data-face="4"] .dot:nth-of-type(1) {
            grid-area: one;
          }
          &[data-face="4"] .dot:nth-of-type(2) {
            grid-area: three;
          }
          &[data-face="4"] .dot:nth-of-type(3) {
            grid-area: sup;
          }
          &[data-face="4"] .dot:nth-of-type(4) {
            grid-area: nine;
          }
          &[data-face="5"] .dot:nth-of-type(1) {
            grid-area: one;
          }
          &[data-face="5"] .dot:nth-of-type(2) {
            grid-area: three;
          }
          &[data-face="5"] .dot:nth-of-type(3) {
            grid-area: five;
          }
          &[data-face="5"] .dot:nth-of-type(4) {
            grid-area: sup;
          }
          &[data-face="5"] .dot:nth-of-type(5) {
            grid-area: nine;
          }
          &[data-face="6"] .dot:nth-of-type(1) {
            grid-area: one;
          }
          &[data-face="6"] .dot:nth-of-type(2) {
            grid-area: three;
          }
          &[data-face="6"] .dot:nth-of-type(3) {
            grid-area: four;
          }
          &[data-face="6"] .dot:nth-of-type(4) {
            grid-area: six;
          }
          &[data-face="6"] .dot:nth-of-type(5) {
            grid-area: sup;
          }
          &[data-face="6"] .dot:nth-of-type(6) {
            grid-area: nine;
          }
        }
      }
      &[data-current="1"] [data-spin="up"] {
        transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      }
      &[data-current="2"] [data-spin="up"] {
        transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
      }
      &[data-current="3"] [data-spin="up"] {
        transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
      }
      &[data-current="4"] [data-spin="up"] {
        transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
      }
      &[data-current="5"] [data-spin="up"] {
        transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
      }
      &[data-current="6"] [data-spin="up"] {
        transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
      }
      &[data-current="1"] [data-spin="down"] {
        transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
      }
      &[data-current="2"] [data-spin="down"] {
        transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
      }
      &[data-current="3"] [data-spin="down"] {
        transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
      }
      &[data-current="4"] [data-spin="down"] {
        transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
      }
      &[data-current="5"] [data-spin="down"] {
        transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
      }
      &[data-current="6"] [data-spin="down"] {
        transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
      }
    }

    .god-mode-enabled {
      position: absolute;
      top: 0;
      left: 0;
      font-size: .5rem;
      padding: 0.2rem;
      background: red;
      color: white;
      z-index: 200;
    }

    &.mobile {
      .player-controls {
        font-size: 1.5rem;
        padding: .5rem;
      }

      .drawer .drawer-tab {
        height: 1.35rem !important;
        font-size: 1rem;
      }
    }
  }

  #setup {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto 5rem;
    .heading {
      h1, h2, h3 {
        text-align: center;
        margin: .3em 0 .5em;
      }
      html.dark & {
        background: #fff3;
      }
      font-size: 1.2em;
      background: #fff8;
      padding: 0.3rem 1.5rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
    #seating {
      margin: .2em;
      text-align: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 1em;

      #seats {
        flex: 1;

        .seat {
          position: relative;
          select {
            appearance: none;
            background: #888;
            font-family: 'DM Sans Variable';
            text-align-last: center;
            text-align: center;
            font-size: 1.5em;
            height: 2.75em;
            border-radius: 20em;
            border-width: 0;
            padding: 0.8em 1em;
            width: 100%;
            color: white;
            color: white;
            margin: 0.2em 0;
            box-shadow: inset .1em .1em 0 #fff4, inset -.1em -.1em 0 #0008;
            filter: drop-shadow(.1em .1em .2em #0008);
            &:focus {
              outline: none;
            }

            html.dark & {
              background: #444;
            }
          }

          img.avatar {
            position: absolute;
            left: 0.5em;
            top: 0.75em;
            height: 3.3em;
            border-radius: 50%;
          }

          .rename, .palette {
            color: white;
            position: absolute;
            font-size: 2em;
            transition: transform .2s;
            &:hover {
              cursor: pointer;
              transform: scale(1.4);
            }
          }
          .rename {
            right: .65em;
            top: .5em;
          }
          .palette {
            right: 1.6em;
            top: .43em;
          }

          .github-picker {
            padding: 1em;
            position: absolute !important;
            z-index: 1;
            text-align: left;
            left: 75%;
            width: 142px !important;
            display: block !important;
            > span {
              margin: .1em;
              display: inline-block;
            }
          }
        }
      }

      #lobby {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        background: #666;
        border-radius: 0.5em;
        padding: 0.5em;
        color: white;
        font-weight: bold;
        font-size: 1.2em;

        #users {
          flex: 1;
          margin: .5em 0 0;
          background: #fff4;
          border-radius: 0 0 .2em .2em;
          padding: .2em;
          text-align: left;
          min-height: 50px;
          .user {
            display: inline-block;
            margin: .2em;
            position: relative;
            background: #666;
            border-radius: 10em;
            padding: 0.4em 0.8em 0.4em 2.4em;
            height: 1.2em;
            font-size: 1.2em;
            cursor: pointer;
            img {
              height: 1.8em;
              border-radius: 50%;
              top: 0.1em;
              position: absolute;
              left: 0.1em;
            }
          }
        }
      }

      @media only screen and (max-width: 600px) {
        display: block;

        #lobby {
          margin: .5rem 0 0;
        }
      }
    }

    #settings {
      margin: .4em .2em;
      font-size: 1.3em;
      input, select {
        font-family: 'DM Sans Variable';
        font-size: 1em;
        padding: 0em 0.5em;
        margin: 0.1em 0;
        background: #eef;
        &:focus {
          outline: none;
        }
      }
      input[type=checkbox] {
        transform: scale(1.5);
        transform-origin: left center;
        margin-right: .5em;
        &:focus {
          outline: none;
        }
      }
    }

    input.start {
      margin: 0 auto;
      display: block;
      white-space: normal;
      font-family: 'DM Sans Variable';
      border-radius: .2em;
      border-width: 0;
      text-shadow: .1em .1em 0 #fff5;
      box-shadow: .1em .1em .2em #0008, inset .1em .1em 0 #fff9;
      background: linear-gradient(to bottom, #ddd,  #aaa 85%, #ccc);
      padding: 0.3em 1.6em;
      font-size: 1.4em;
      font-weight: bold;
      margin-top: .5em;
      transition: transform .2s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &.disabled input, &.disabled select, &.disabled button {
      pointer-events: none;
    }
  }

  .profile-badge {
    display: flex;
    flex-direction: row;
    margin: 0.1em;
    height: 1em;
    width: 3em;
    border-radius: .5em;
    gap: 0.1em;
    padding: 0.1em;

    .avatar {
      height: 100%;
      width: auto;
      aspect-ratio: 1;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 50%;
        outline-color: #333;
        outline-style: solid;
        outline-width: 1px;
        filter: saturate(0) contrast(.6) brightness(1.2);
        html.dark & {
          outline-color: #aaa;
        }
      }

      &:after {
        content: "";
        background-color: #666;
        outline-color: black;
        display: block;
        position: absolute;
        border-radius: 50%;
        outline-style: solid;
        outline-width: 2px;
        width: 15%;
        height: 15%;
        top: 7%;
        right: 7%;
        html.dark & {
          outline-color: #aaa;
        }
      }
    }

    &.online .avatar img {
      filter: none;
    }

    &.online .avatar:after {
      content: "";
      background-color: #0f0;
      outline-color: black;
      outline-style: solid;
      outline-width: 1px;
      display: block;
      position: absolute;
      border-radius: 50%;
      width: 15%;
      height: 15%;
      top: 7%;
      right: 7%;
      html.dark & {
        outline-color: #aaa;
      }
    }

    &.current {
      border: .03em solid white;
    }

    .player-name {
      flex: 1;
      overflow: hidden;
      text-align: left;
      white-space: nowrap;
      font-size: 35%;
      text-overflow: ellipsis;
      color: white;
      margin: 0.44em 0 0 0.1em;
    }

    &.current .player-name {
      animation: pulse-player-name 2s infinite;
    }
  }

  #corner-controls {
    position: fixed;
    top: 1vmin;
    left: 1vmin;
    z-index: 200;

    #info-toggle {
      position: absolute;
      height: 3vmin;
      top: 0;
      left: 0;
      svg {
        display: block;
        height: 100%;
        fill: white;
        cursor: pointer;
      }
    }

    #debug-toggle {
      position: absolute;
      height: 3vmin;
      top: 0;
      left: 3.5vmin;
      svg {
        display: block;
        height: 100%;
        fill: white;
        cursor: pointer;
      }
    }
  }

  #announcement-overlay {
    z-index: 200;
  }

  .modal-popup {
    position: absolute;
    width: max-content;
    max-width: 80%;
    background: white;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
    filter: none;
    z-index: 210;
    padding: .5rem;
    box-shadow: 0.2rem 0.2rem .5rem #0008;

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      margin: .25em 0;
    }
  }

  #info-overlay {
    z-index: 199;
    background: #444c;
  }

  #info-container {
    z-index: 210;
    visibility: hidden;
    color: #002;

    #info-drawer {
      font-family: 'DM Sans Variable';
      position: absolute;
      left: 0.3rem;
      top: 0.3rem;
      width: clamp(20%, 10rem, 100%);
      background: white;
      border-radius: 0.3rem;
      transition: width 0.2s, height 0.2s;
      visibility: visible;
      z-index: 200;
      max-height: calc(100% - 0.6rem);
      overflow-x: hidden;
      overflow-y: scroll;
      box-shadow: 0.2rem 0.2rem .5rem #0008;

      &.collapsed {
        width: 2.4rem;
        .header {
          border-radius: 0.3rem;
        }
      }

      .header {
        width: 100%;
        height: 1.4rem;
        background: #ccc;
        border-radius: 0.3rem 0.3rem 0 0;
        padding: .1rem 0.25rem;
        box-sizing: border-box;
        display: flex;

        .title {
          flex: 1;
        }

        .controls {
          flex: 1;
          text-align: right;
        }

        svg {
          height: .8rem;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .contents {
        font-size: 65%;
        padding: .1rem 0.25rem;
        width: 10rem;
        border-top: .1rem solid #888;

        h1 {
          margin: 0.1rem 0;
          font-size: 1rem;
          text-align: center;
        }

        ul {
          margin: 0 0 0 .5rem;
          padding: 0 0 0 .25rem;
          li {
            list-style: '⏺';
            padding-left: .1rem;
            span {
              color: #002;
            }
          }
        }

        button {
          width: 94%;
          padding: 0.2rem 0.4rem;
          font-family: inherit;
          font-size: inherit;
          margin: 0.1rem 3%;
          border: none;
          background: #ccc;
          cursor: pointer;
          transition: transform 0.2s;
          white-space: normal;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0.2rem 0.2rem .5rem #0008;
          }
        }

        .more-info {
          padding: .25rem .25rem .5rem;
        }
      }
    }

    #info-modal {
      &.info-element {
        min-width: 64%;
      }

      .element-zoom {
        display: inline-block;
        float: right;
        margin: 0 0 1rem 1rem;
        position: relative;
        pointer-events: none;
        width: 32vw;
        .Piece, .Space {
          transform: none !important;
        }
        > div {
          position: relative;
        }
      }

      .info-text {
        font-size: 80%;
        p, h1, h2, h3, h4 {
          margin-top: 0;
        }
      }
    }
  }

  #debug-overlay {
    font-size: 16px;
    z-index: 199;
    background: #fffc;
    font-family: 'DM Sans Variable', sans-serif;

    #flow-debug {
      overflow: scroll;
      position: absolute;
      left: 1em;
      top: 5vmin;
      right: 50%;
      bottom: 0;

      .flow-debug-block {
        margin: .2em 0 .2em .4em;
        border-left: .2em solid var(--color);

        &.current {
          outline: 4px solid #ff0;
        }

        .header {
          color: white;
          background: var(--color);
          height: 1.5em;
          > .name {
            height: 80%;
            color: var(--color);
            background: white;
            display: inline-block;
            border-radius: 1em;
            margin-left: .5em;
            margin-top: .25em;
            font-size: .75em;
            padding: .2em .5em;
          }
        }

        .do-block {
          > .name {
            left: -0.15em;
            position: relative;

            &::before {
              content: '► '
            }
          }
        }

        .function {
          font-family: monospace;
          font-size: 75%;
          line-height: 1.2em;
          padding-left: .4em;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &.current {
            background: 4px solid #ff0;
          }
        }
      }
    }
  }
}
